.App {
  background-color: #fff;
  min-height: 100vh;
  padding: 2rem 2rem 0;
}

.heading-primary {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1.4rem;
}

.custom-select {
  height: 4rem;
  line-height: 4rem;
  font-size: 1.6rem;
  padding: .5rem 1.2rem;
  max-width: 20rem;
  margin-top: 2rem;
}

.chart {
  margin-top: 2rem;
}

.chart-wrapper {
  padding: 2rem;
  overflow: hidden;
}

.chart-title {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color: #555;
}

.no-data {
  display: inline-block;
  padding: .5rem;
  border: 1px dashed #f10707;
}
